@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css? family=Anda|Permanent+Marker|Raleway:300');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body{
	padding: 0;
	margin: 0 auto;
	background-color: #039209;
	background-opacity:0.8;
    
}

.Create-User-Wrapper{
  text-align: center;
  position: absolute;
  width:70%;
  margin: 0.5% 25%;
}
.register-user{
  width:100%;
  background-color: rgba(0,0,0,0.8);
  padding: 0.4%;
}.register-user input[type=text] {
    width: 50%;
    padding: 1% 1.5%;
    margin: 1% 0;
    line-height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
.register-user input[type=Email] {
    width: 50%;
    padding: 1% 1.5%;
    margin: 1% 0;
    line-height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
.register-user input[type=password] {
    width: 50%;
    padding: 1% 1.5%;
    margin: 1% 0;
    line-height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
.register-user input[type=submit] {
    padding:0.5% 1.5%; 
    background:#c0c0c0; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    width:25%;

}
.register-user .create{
  font-size: 2rem;
  color:#c0c0c0;
}
footer{
  padding:2%;
  background-color: #fefcff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
