@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css? family=Anda|Permanent+Marker|Raleway:300');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

*{
  box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0 auto;
	background-color: #4f5e6d;
	background-opacity:0.7;
    
}

.Create-User-Wrapper{
  text-align: left;
  overflow: hidden;
}
.register-user{
  width:100%;
  padding-top: 40px;
  /*background-color: rgba(0,0,0,0.8);*/
  padding: 10px;
  margin-left: 50px;
}
.register-user input[type=text] {
    width: 80%;
    padding: 8px 16px;
    margin: 8px 0;
    line-height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
.register-user input[type=Email] {
    width: 80%;
    padding: 8px 16px;
    margin: 8px 0;
    line-height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
.register-user input[type=password] {
    width: 80%;
    padding: 8px 16px;
    margin: 8px 0;
    line-height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
.register-user input[type=submit] {
    padding:5px 15px; 
    background:#c0c0c0; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    width:80px;

}
.register-user .create{
  font-size: 3rem;
  color:#c0c0c0;
}
footer{
  padding:20px;
  background-color: #c0c0c0;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 800px){
.register-user{
  width:50%;
  margin: 40px auto;

.register-user input[type=text] {
    width: 50%;
}
.register-user input[type=Email] {
    width: 50%;
}
.register-user input[type=password] {
    width: 50%;
}
} 
