
table {
  width: 100%;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td:nth-child(2) {
  width: 100%; /*LOng text*/
  max-width: 0; /* Learnt From this study */
}




body {font-family: sans-serif; }
table { border-collapse: collapse; margin-bottom: 1em; }
td { border: 1px solid #999; padding: 1em; vertical-align: top; }
