@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css? family=Anda|Permanent+Marker|Raleway:300');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

* {
	margin: 0;
   padding: 0;
   box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'Roboto Slab', 
  font-family: 'Roboto', */
}

#bigWrapper{
	width:100%;
	margin: 0;
   padding: 0;
}
#Wrapper{
 width: 100%;
 height: 100vh;
 position: relative;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://pixabay.com/get/ea33b30e2df41c22d9584518a3444f93e777e7dd04b0144390f9c47ea6ebbd/car-repair-362150_1920.jpg);
    background-size: cover;
}
nav{
  height: 38px;
  
  background-color:  #FF6347;
  border-bottom: 2px solid #f77;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}
nav .pages{
  float: right;
  margin-right: 50px;
}
nav .pages li{
  list-style-type: none;
  display: inline-block;
  line-height: 80px;
  font: 1.5rem solid;
  font-family:  'Roboto';

}
nav .pages li a{
  margin-top: 2px;
  text-decoration: none;
  color: #fff;
  padding: 50px;

}
nav .pages li a:hover{
  padding-bottom: 5px;
  background-color: #f55;
  border-radius: 5px;

}
nav .user{
  text-align: center;
  padding: 1px;
}
nav .user li{
  list-style-type: none;
  display: inline-block;
  line-height: 80px;
  font: 1.5rem solid;
  font-family:  'Roboto';
  border:2px solid #03f;
  border-radius: 5px;

}
nav .user li a{
  margin-top: 2px;
  text-decoration: none;
  color: #fff;
  padding: 10px;

}
nav .user .join{
  background-color: #1d1;
}
nav .user .join a{
  width:10px;

}
nav .user .join a:hover{
  padding-bottom: 4px;
  background-color: #5d5;
  border-radius: 10px;
  }
  nav .user .sinin a:hover{
  padding-bottom: 4px;
  background-color: #1d1;
  border-radius: 10px;
  }
header {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%
  transform: translate(-50%, -50%);
  color: #c0c0c0;
  text-align: center;
}
header p {
  margin: 0;
  font-size: 2rem;
  font-weight: bolder;
}
header p button{
  text-decoration: none;
  font-size: 1rem;
  color:#c0c0c0;
  font-family: 'Roboto Slab';
  padding: 3px;
  background-color: blue;
  cursor: pointer;
}

footer{
  padding:20px;
  background-color: #fefcff;
  position: absolute;
  bottom: 0;
  width: 100%;
}



/*Responsive Design with Media Querries*/
@media screen and  (max-width: 1100px){
  #bigWrapper{
    width: 100%;
  }
  #Wrapper{
    width: 100%;
  }
  header{
    text-align: left;
    font-size: 12px;
  }

}