@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css? family=Anda|Permanent+Marker|Raleway:300');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

* {
   box-sizing: border-box;
  
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(64,64,64,0.5);
  /*font-family: 'Roboto Slab', 
  font-family: 'Roboto', */
}
#sideMenu{
	background-color: #B19CD9;
	max-width: 280px;
	height: 700px;
}
nav a{
	display: block;
	color:#fff;
	text-decoration: none;
	padding: 15px 30px;
}
nav a:active{
	background-color: #6960EC;
}
#mainBody{
	position: absolute;
	background-color:#fff;
	top: 5%;
	left: 5%;
	max-width: 100%;
	margin-left: 30%;
}
.request-field{
	display: inline-block;
	margin: 2px;

}
.request{
	margin-top: 10px;
}
table{
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
tr:nth-of-type(odd){
  background: #eee;
}

th{
  background: #111;
  color: #fff;
}
td, th {
  border: 1px solid #ccc;
  text-align: center;
}
/*Responsive*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
